@font-face {
    font-family: "TTLakes-Regular";
    font-style: normal;
    font-weight: 400;
    src: local("TTLakes-Regular"),
    url("BrandsFonts/TTLakes-Regular.ttf") format("ttf");

}
.brands{
    display: flex;
    width:100%;;
    height:334px;
    border-top: 1px solid #D9FFF5;
    overflow: hidden;
    background-color: lightpink;
    margin-top: -8px;
    margin-left: -8px;
    padding-right: 16px;
}
.brands__title{
    padding:16px;
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: -0.2px;
    color: #7E7E82;
    font-family: "TTLakes-Regular", sans-serif;
    position: absolute;
    background-color: salmon;
    padding-right: 100%;
    width:100%;
}
.brands__list{
    display: flex;
    padding-left: 16px;
    list-style: none;
    box-sizing: inherit;
    width:100%;
    height:72px;
    position: relative;
    top:92px;

}
.brands__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 204px;
    height: 72px;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 16px;
    flex-shrink: 0;
    background-color: #fff;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    position: static;
    top:16px;

}
.icon-swiper{
    width:40px;
    height:40px;
    position: relative;
}
.swiper {
    display: block;
    width: 260px;
    height: 110px;
    position: relative;
    top:95px;
}
.swiper-pagination{
    position: relative;
    top:88px;
}
.brands-repair{
    display: none;
}
.brands__item:nth-child(10),
.brands__item:nth-child(11)
{
    display:none;
}
.text-in{
    display: none;
}

@media(min-width:768px){
    .brands{
        position: relative;
        display: flex;
        width:100%;
        height:322px;
        border-top: 1px solid #D9FFF5;
        overflow: hidden;
        background-color: lightpink;
        margin-top: -8px;
        margin-left: -8px;
        padding-right: 16px;
    }
    .swiper{
        display: none;
    }
    .brands-repair{
        display: flex;
        position: relative;
        top:24px;
        flex-wrap: wrap;
        width:720px;
        height:208px;
        background-color: rgba(169,29,204,0.65);
        margin-left:24px;
        top:79px;
        align-items: stretch;
    }
    .brands__list {
        display: flex;
        position: relative;
        top:-20px;
        flex-direction: row;
        justify-content: right;
        padding: 10px;

    }
    .brands-repair .brands__item{
        display: flex;
        position: relative;
        flex-wrap: wrap;
        width: 190px;
        margin-bottom: 35px;
    }
.content{
    position: relative;
    max-height:0;
    overflow: hidden;
    transition: 0.3s;
}
.accordion a{
    text-decoration: none;
    color:black;
}
    .text-out{
        font-family: "TTLakes-Regular", sans-serif;
        font-size: 16px;
        position: relative;
        left:25px;
        display: inline;
    }
    .arrows{
        position: relative;
        right:120px;
    }

.brands__item:nth-child(7),
.brands__item:nth-child(8),
.brands__item:nth-child(9){
    position: relative;
    height:0;
    display: none;
}
    .brands__item:nth-child(10),
    .brands__item:nth-child(11)
    {
        display:none;
    }
    .text-in{
        display: none;
        font-family: "TTLakes-Regular", sans-serif;
        font-size: 16px;
        position: relative;
        left:40px;
        top:20px;
    }
    .reversed-arrows{
        position: relative;
        right:110px;
    }

}
@media(min-width:1120px){
    .brands{
        position: relative;
        display: flex;
        width:100%;
        height:322px;
        border-top: 1px solid #D9FFF5;
        overflow: hidden;
        background-color: lightpink;
        margin-top: -8px;
        margin-left: -8px;
        padding-right: 16px;
    }
    .swiper{
        display: none;
    }
    .brands-repair{
        display: flex;
        position: relative;
        top:24px;
        flex-wrap: wrap;
        width:1040px;
        height:208px;
        background-color: rgba(169,29,204,0.65);
        margin-left:33px;
        top:79px;
        align-items: stretch;
    }

    .brands__item:nth-child(10),
    .brands__item:nth-child(11)
    {
        display:flex;
    }
    .brands-repair .brands__item{
        margin-right:24px;
        width:19%;
        height:72px;
    }
    .text-out{
        display: inline;
        font-family: "TTLakes-Regular", sans-serif;
        font-size: 16px;
        position: relative;
        left:25px;
        top:0;
    }
    .arrows{
        position: relative;
        right:120px;
    }
.text-in{
    display: none;
    font-family: "TTLakes-Regular", sans-serif;
    font-size: 16px;
    position: relative;
    top:140px;
    left:-730px;
}
    .reversed-arrows{
        position: relative;
        right:110px;
    }
}